---
layout: default
title: accueil
---

{% assign post = site.posts.first %}

<section class="post">
  <h1>{{ post.title }}</h1>
  <p class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</p>
  {{ post.content }}
</section>

<div class="pagination">
  {% if post.previous %}
  <div class="left">
    <a class="pagination-item" href="{{ post.previous.url }}">
      {{ post.previous.title }}
    </a>
  </div>
  {% endif %}

  {% if post.next %}
  <div class="right">
    <a class="pagination-item" href="{{ post.next.url }}">
      {{ post.next.title }}
    </a>
  </div>
  {% endif %}
</div>
