////
/// Very basic style
////
//// Import partials from `sass_dir` (defaults to `_sass`)

$base-font-name: Overpass;
$title-font-name: Overpass;

@import "overkyll/config/open-color";
@import "overkyll/config/colors";
@import "overkyll/config/mediaqueries";
@import "overkyll/config/typography";
@import "overkyll/base/normalize";
@import "overkyll/base/base";
@import "overkyll/base/layout";
@import "overkyll/base/font";
@import "overkyll/generic/skiplink";
@import "overkyll/object/header";
@import "overkyll/object/navigation";