////
/// Post
////

.posts {
  padding-bottom: $line-height-base;
}

.posts-archive {
  @include list-inline();
  > li {
    &:after {
      content: ' - ';
    }
 }
}

.post-meta {
  font-weight: 700;
}
