---
layout: compress
---

<!DOCTYPE html>
<html lang="fr-FR">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <div class="page">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script src="{{ site.baseurl }}/upup.sw.min.js" data-no-instant></script>
    <script src="{{ site.baseurl }}/assets/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.init();
      UpUp.start({
        'content-url': '{{ page.url | remove_first: '/' }}',
        'assets':
          ['{{ site.baseurl }}/assets/css/style.css',]
      });
    </script>
  </body>

</html>
