---
layout: compress
---
<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="page" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <main id="main" role="main">
      {{ content }}
    </main>
    <script src="{{ site.url }}/assets/js/fetch-inject.js"></script>
    <script>
    fetchInject([
      '{{ "/assets/css/main.css" | prepend: site.url }}',
      '{{ site.url }}/assets/js/instantclick.min.js'
    ]).then(() => {
        InstantClick.init();
      })
    </script>

    <script data-no-instant>
      {% if site.environment != 'development' %}
        if (navigator.serviceWorker) {
          navigator.serviceWorker.register('/sw.js', {
              scope: '/'
          });
          window.addEventListener('load', function() {
              if (navigator.serviceWorker.controller) {
                  navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
              }
          });
        }
      {% endif %}
    </script>
  </body>
</html>
