---
layout: default
---

<div class="wrapper">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{% include date.html date=page.date %}</p>
    {% if page.description %}
      <p><strong>{{ page.description }}</strong></p>
    {% endif %}
    {% if page.image %}
    {% if site.environment != 'development' %}
    {% cloudinary {{page.image}} alt="{{page.title}}" %}
    {% else %}
    <img src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
    {% endif %}
    {{ content | markdownify }}
  </article>

  {% include pagination.html %}

  {% webmentions %}

  {% comment %}
  Breadcrumb JSON-LD:
  https://developers.google.com/search/docs/data-types/breadcrumbs
  {% endcomment %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "/{{ page.date | date: "%Y" }}/",
        "name": "{{ page.date | date: "%Y" }}"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "/{{ page.date | date: "%Y/%m" }}/",
        "name": "{{ page.date | date: "%m" }}"
      }
    },{
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "/{{ page.date | date: "%Y/%m/%d" }}/",
        "name": "{{ page.date | date: "%d" }}"
      }
    },{
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "{{ page.url }}",
        "name": "{{ page.title }}"
      }
    }]
  }
</script>
</div>

