---
layout: default
---

<div class="wrapper">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}</p>
    {% if page.description %}
      <p><strong>{{ page.description }}</strong></p>
    {% endif %}
    {% if page.image %}
    {% cloudinary {{page.image}} alt="{{page.title}}" %}
    {% if site.environment != 'development' %}
    {% cloudinary {{page.image}} alt="{{page.title}}" %}
    {% else %}
    <img src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
    {% endif %}
    {{ content | markdownify }}
  </article>

  {% include pagination.html %}
</div>

